@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-sm md:text-base;
  font-family: "Montserrat", sans-serif;
}

.input {
  @apply px-5 py-3  border-2 border-yellow-500 rounded-md focus:outline-none;
}

.password-input {
  @apply justify-between items-center border-2 border-yellow-500 rounded-md;
}

input:checked + div {
  @apply border-yellow-500;
}
input:checked + div svg {
  @apply block;
}
